@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
.section{
    width:100vw;
    height: 450px;
    background: no-repeat url('vegstock_edited.jpg') ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section h1{
text-align: center;
margin-bottom: 100px;
margin-left: 250px;
font-size: 200px;
font-family: 'Caveat', cursive;
color: white;
}
.bottom-heading{
    width: 100%;
    background-color: #212529;
    height: 70px;
    margin-top: 50px;
}
.bottom-heading h1{
font-size: 50px;
}
.btn2{
    margin: auto 15px;
}
.food_word{
    color: orangered;
}
.input{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}
#input_text{
    width: 600px;
    font-size: 27px;
    margin: 20px 20px 20px 20px ;
    height: 50px;
    border-radius: 10px;
}
#submit_btn{
    width: 80px;
    height: 47px;
    margin: 20px 5px;
    background-color: orangered;
    border-radius: 20px;
}
.inputdata{
    display: flex;
    justify-content: center;
    height: 460px;
    width: fit-content;
    border: 2px solid black;
    margin: 10px auto;
    padding: 20px;
    border-radius: 15px;
}
.food_data_heading{
    font-size: 70px;
    text-align: center;
    margin: 30px auto;
    font-family: 'Gluten', cursive;
}
/* underline animation code for nav btn */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #fa4700;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff470f;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .about_heading{
      color:rgb(5, 5, 26);
      text-align: center;
      margin: 20px auto;
      font-family: 'Libre Baskerville', serif;
      text-decoration: underline rgb(255, 51, 0);
      font-size: 50px;
  }
  /* about text animation */
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

.wrapper {
  list-style: none;
  font-weight: 500;
  font-size: clamp(2rem, 3vw, 3rem);
  text-align: center;
}

.wrapper li a {
  color: inherit;
  text-underline-offset: var(--offset, 0.1em);
  text-decoration: underline 0.1em;
  transition: --offset 400ms, text-decoration-color 400ms;
}

.wrapper li a:hover,
.wrapper li a:focus {
  --offset: 0.4em;
  text-decoration-color: rgb(226, 34, 0);
}


    .wrapper li a {
    transition: text-underline-offset 400ms, text-decoration-color 400ms;
  }
  
  .wrapper li a:hover,
  .wrapper li a:focus {
    text-underline-offset: 0.4em;
  }

.wrapper {
  min-height: 100vh;
  width: 100%;
  max-width: 50rem;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}